.navbar {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.navbar-left {
  margin-left: -33px;
}

.navbar-left a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 107px;
  height: 30px;
  border: 2px solid transparent;
  border-radius: 15px;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  transition: all 0.2s;
}

.navbar-left a:hover,
.navbar-left a:focus {
  border-color: rgb(234, 46, 73);
  background-color: rgb(44, 45, 47, 0);
}

body {
  background-color: rgb(24, 24, 24);
}

#introslider,
.slider-wrapper,
.slider {
  height: 100vh;
  width: 100vw;
}

.slider-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  margin:   auto;
}

.slider {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #ffe5ac;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

@media (min-width: 992px) {
  #introslider {
    margin-top: -58.59px;
  }
}

.footer {
  font-family: 'Courier New', Courier, monospace;
  color: white;
}